<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>AVL Rotations</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="content">

    <h1>🔄 AVL Rotations</h1>

    <br>

    <div class="card">

        <h2>LL Rotation</h2>

        <p>
            Performed when the left subtree of the left child becomes heavy.
        </p>

    </div>

    <br>

    <div class="card">

        <h2>RR Rotation</h2>

        <p>
            Performed when the right subtree of the right child becomes heavy.
        </p>

    </div>

    <br>

    <div class="card">

        <h2>LR Rotation</h2>

        <p>
            Left Rotation followed by Right Rotation.
        </p>

    </div>

    <br>

    <div class="card">

        <h2>RL Rotation</h2>

        <p>
            Right Rotation followed by Left Rotation.
        </p>

    </div>

    <br>

    <a href="/">⬅ Back to Visualizer</a>

</div>

</body>

</html>